<template name="EditorStep">
  <div class="px-3">
    <h3>Edit {{step.type}}</h3>
    {{!-- <div class="form-group">
      <label>Name:</label>
      <input type="text" value="{{step.name}}" class="form-control" data-target="name" />
    </div> --}}
    {{#each state.properties}}
      {{#if eq property.propertyType 'type'}}
        {{>EditorTypeInput name=name value=property.value eventChange='changeType'}}
      {{else if isDynamic property}}
        {{>EditorDynamicValue name=name property=property eventChange='changeDynamic'}}
      {{else}}
        <div class="form-group">
          <label>{{name}}:</label>
          <input type="text" value="{{property}}" class="form-control" data-target="prop" data-prop="{{name}}" />
        </div>
      {{/if}}
    {{/each}}
  </div>
</template>