<template name="EditorFunctionsStep">
  <div class="px-3">
    <h3>Functions</h3>
    {{#each branch in state.branches}}
      <div class="form-group">
        <div class="input-group">
          <input type="text" id="branch-{{@index}}" value="{{branch}}" class="form-control" data-target="func"
            data-branch="{{branch}}" />
          <div class="input-group-append">
            <button class="btn btn-outline-danger btn-sm btn-block" data-action="deleteFunc"
              data-branch="{{branch}}">Delete</button>
          </div>
        </div>
      </div>
    {{/each}}
    <button class="btn btn-primary btn-sm btn-outline btn-block" data-action="addFunc">Add
      function</button>
  </div>
</template>