<template name="EditorFunctionsStep">
  <div class="px-3">
    <h3>Functions</h3>
    {{#each branch in state.branches}}
      <div class="form-group">
        <label for="branch-{{@index}}">Function {{sum @index 1}}:</label>
        <div class="input-group input-group-sm">
          <input type="text" id="branch-{{@index}}" value="{{branch}}" class="form-control" data-action="changeName"
            data-branch="{{branch}}" />
          <div class="input-group-append">
            <button class="btn btn-outline-danger" data-action="deleteFunction" data-branch="{{branch}}">Delete</button>
          </div>
        </div>
      </div>
    {{/each}}
    <button class="btn btn-primary btn-sm btn-outline" data-action="addFunction">Add
      function</button>
  </div>
</template>