<template name="EditorPlayground">
  <div id="playground" class="p-3">
    <h2>🛠 Playground</h2>
    <p class="explanation">Voluptas aut perspiciatis quas mollitia tenetur officia ut ipsam. Id est qui nam natus
      dolorum quo repellat eaque. Sit vel recusandae dolorem. Voluptatem fugiat similique vero. Eos modi cumque maxime.
      Maiores quibusdam dolorum autem ex.</p>
    <div class="mb-3">
      {{#card title='Input'}}
        <div class="mb-2">
          {{#collapse id='collapse-msg' title='Msg'}}
            {{log state.msg}}
            {{>EditorMsg msg=state.msg eventChange='changeMsg'}}
          {{/collapse}}
        </div>
        {{#if state.state}}
          <div class="mb-2">
            {{#collapse id='collapse-state' title='State'}}
              {{#each item in state.state}}
                <div class="form-group">
                  <label>{{item.name}}:</label>
                  {{#if eq item.type 'mapping(address => uint256)'}}
                    {{>EditorMappingInput value=item.value eventChange='changeState' eventChangeData=item}}
                  {{else}}
                    <input type="text" value="{{item.value}}" class="form-control" data-target="state"
                      data-name="{{item.name}}" />
                  {{/if}}
                </div>
              {{/each}}
            {{/collapse}}
          </div>
        {{/if}}
        <div class="mb-2">
          {{#collapse id='collapse-func' title='Function'}}
            <div class="form-group">
              <select class="form-control" data-target="func">
                {{#each func in functs}}
                  <option {{selectedAttr func state.func}}>{{func}}</option>
                {{/each}}
              </select>
            </div>
            {{#if state.args}}
              {{#each arg in state.args}}
                <div class="form-group">
                  <label>{{arg.name}}:</label>
                  <input type="text" value="{{arg.value}}" class="form-control" data-target="args"
                    data-index="{{@index}}" />
                </div>
              {{/each}}
            {{/if}}
          {{/collapse}}
        </div>
      {{/card}}
    </div>
    {{#if state.func}}
      <div class="mb-3">
        {{#card title="Console"}}
          <ul class="list-unstyled">
            {{#each log in state.logs}}
              <li class="text-{{log.brand}}">{{log.message}}</li>
            {{/each}}
          </ul>
        {{/card}}
      </div>
      <div class="mb-3">
        {{#card title="Output"}}
          {{#each item in state.output}}
            <div class="form-group">
              <label>{{item.name}}:</label>
              {{#if eq item.type 'mapping(address => uint256)'}}
                {{>EditorMappingInput value=item.value readonly=true}}
              {{else}}
                <input type="text" value="{{item.value}}" class="form-control" readonly />
              {{/if}}
            </div>
          {{/each}}
        {{/card}}
      </div>
    {{/if}}
  </div>
</template>