<template name="EditorPlayground">
  <div id="playground" class="p-3">
    <h2>🛠 Playground</h2>
    <p class="explanation">Voluptas aut perspiciatis quas mollitia tenetur officia ut ipsam. Id est qui nam natus
      dolorum quo repellat eaque. Sit vel recusandae dolorem. Voluptatem fugiat similique vero. Eos modi cumque maxime.
      Maiores quibusdam dolorum autem ex.</p>
    {{#if state.state}}
      <h4>State</h4>
      {{#each item in state.state}}
        <div class="form-group">
          <label>{{item._id}}:</label>
          <input type="text" value="{{item.value}}" class="form-control" data-target="state" data-id="{{item._id}}" />
        </div>
      {{/each}}
    {{/if}}
    <h4>Function</h4>
    <div class="form-group">
      <input type="text" value="{{state.func}}" class="form-control" data-target="func" />
    </div>
    {{#if state.args}}
      <h4>Arguments</h4>
      {{#each arg in state.args}}
        <div class="form-group">
          <label>{{arg._id}}:</label>
          <input type="text" value="{{arg.value}}" class="form-control" data-target="args" data-index="{{@index}}" />
        </div>
      {{/each}}
    {{/if}}
    {{#if state.func}}
      <h4>Console</h4>
      <ul class="list-unstyled">
        {{#each log in state.logs}}
          <li class="text-{{log.brand}}">{{log.message}}</li>
        {{/each}}
      </ul>
      {{#each item in outputState}}
        <div class="form-group">
          <label>{{item.name}}:</label>
          <input type="text" value="{{item.value}}" class="form-control" readonly />
        </div>
      {{/each}}
    {{/if}}
  </div>
</template>