<template name="EditorPlayground">
  <div id="playground" class="p-3">
    <h2>🛠 Playground</h2>
    <p class="explanation">Voluptas aut perspiciatis quas mollitia tenetur officia ut ipsam. Id est qui nam natus
      dolorum quo repellat eaque. Sit vel recusandae dolorem. Voluptatem fugiat similique vero. Eos modi cumque maxime.
      Maiores quibusdam dolorum autem ex.</p>
    <h4>Function</h4>
    <div class="form-group">
      <input type="text" value="{{state.func}}" class="form-control" data-target="func" />
    </div>
    <h4>Arguments</h4>
    {{#each input in state.inputs}}
      <div class="form-group">
        <label>{{input.name}}</label>
        <input type="text" value="{{input.value}}" class="form-control" data-target="args" data-index="{{@index}}" />
      </div>
    {{/each}}
    <h4>Console</h4>
    <ul class="list-unstyled">
      {{#each log in state.logs}}
        <li class="text-{{log.brand}}">{{log.message}}</li>
      {{/each}}
    </ul>
    <h4>Result</h4>
    <div class="form-group">
      <input type="text" value="{{state.result}}" class="form-control" readonly />
    </div>
  </div>
</template>