html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	overflow: hidden;
}
body,
input,
textarea {
	font: 14px/1.3em Arial, Verdana, sans-serif;
}
body {
	display: flex;
	flex-direction: row;
}
#designer {
	flex: 3;
}
@media (max-width: 768px) {
	body {
		flex-direction: column;
	}
	#designer {
		flex: 2;
	}
}
#playground {
	flex: 1;
	overflow: auto;
	background: white;
}