<template name="EditorDynamicValue">
  <div>
    <div class="form-group">
      <label>
        {{name}}:
        {{#tooltip classes="text-left"}}
          <div class="text-left text-nowrap">
            Examples:<br />
            <strong>var</strong>: Variable value<br>
            <strong>map[key]</strong>: Mapping value<br>
            <strong>msg.sender</strong>: Object field<br>
            <strong>100</strong>: Integer<br>
            <strong>"hello"</strong>: String literal<br>
          </div>
        {{/tooltip}}
      </label>
      <input type="text" class="form-control" value="{{value}}" data-target="property" />
    </div>
  </div>
</template>